WebClient/WebClient/WebClient/Service References/BankService/BankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBankService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BankService/BankService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BankService/BankService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BankService/BankService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankService_addNewAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewAccount" />
  </wsdl:message>
  <wsdl:message name="IBankService_addNewAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_getAccountDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getAccountDetails" />
  </wsdl:message>
  <wsdl:message name="IBankService_getAccountDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAccountDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_depositMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:depositMoney" />
  </wsdl:message>
  <wsdl:message name="IBankService_depositMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:depositMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_withdrawMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:withdrawMoney" />
  </wsdl:message>
  <wsdl:message name="IBankService_withdrawMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:withdrawMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_getAllTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllTransactions" />
  </wsdl:message>
  <wsdl:message name="IBankService_getAllTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_authenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:authenticateUser" />
  </wsdl:message>
  <wsdl:message name="IBankService_authenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:authenticateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankService">
    <wsdl:operation name="addNewAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/addNewAccount" message="tns:IBankService_addNewAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/addNewAccountResponse" message="tns:IBankService_addNewAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAccountDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/getAccountDetails" message="tns:IBankService_getAccountDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/getAccountDetailsResponse" message="tns:IBankService_getAccountDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="depositMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/depositMoney" message="tns:IBankService_depositMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/depositMoneyResponse" message="tns:IBankService_depositMoney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="withdrawMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/withdrawMoney" message="tns:IBankService_withdrawMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/withdrawMoneyResponse" message="tns:IBankService_withdrawMoney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/getAllTransactions" message="tns:IBankService_getAllTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/getAllTransactionsResponse" message="tns:IBankService_getAllTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="authenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/authenticateUser" message="tns:IBankService_authenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/authenticateUserResponse" message="tns:IBankService_authenticateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankService" type="tns:IBankService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addNewAccount">
      <soap:operation soapAction="http://tempuri.org/IBankService/addNewAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountDetails">
      <soap:operation soapAction="http://tempuri.org/IBankService/getAccountDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="depositMoney">
      <soap:operation soapAction="http://tempuri.org/IBankService/depositMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="withdrawMoney">
      <soap:operation soapAction="http://tempuri.org/IBankService/withdrawMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTransactions">
      <soap:operation soapAction="http://tempuri.org/IBankService/getAllTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateUser">
      <soap:operation soapAction="http://tempuri.org/IBankService/authenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IBankService" type="tns:IBankService">
    <wsp:PolicyReference URI="#NetTcpBinding_IBankService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="addNewAccount">
      <soap12:operation soapAction="http://tempuri.org/IBankService/addNewAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountDetails">
      <soap12:operation soapAction="http://tempuri.org/IBankService/getAccountDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="depositMoney">
      <soap12:operation soapAction="http://tempuri.org/IBankService/depositMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="withdrawMoney">
      <soap12:operation soapAction="http://tempuri.org/IBankService/withdrawMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTransactions">
      <soap12:operation soapAction="http://tempuri.org/IBankService/getAllTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateUser">
      <soap12:operation soapAction="http://tempuri.org/IBankService/authenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankService">
    <wsdl:port name="BasicHttpBinding_IBankService" binding="tns:BasicHttpBinding_IBankService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BankService/BankService/BankService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IBankService" binding="tns:NetTcpBinding_IBankService">
      <soap12:address location="net.tcp://localhost:8090/BankService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/BankService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Win7-Komputer\Win7</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>